- if ( $field->isPartial() )
    = Partial::get( '<?php echo $this->getModuleName() ?>/' . $name, array( 'form' => $form, 'attributes' => $attributes instanceof sfOutputEscaper ? $attributes->getRawValue() : $attributes ) )
- elseif ( $field->isComponent() )
    = Partial::get( '<?php echo $this->getModuleName() ?>', $name, array( 'form' => $form, 'attributes' => $attributes instanceof sfOutputEscaper ? $attributes->getRawValue() : $attributes ) )
- elseif ( $form[$name] instanceof sfFormFieldSchema )
    - $form[$name]->getWidget()->getFormFormatter()->setTranslationCatalogue( '<?php echo $this->getI18nCatalogue() ?>' )
    - foreach ( $form[$name] as $k => $v )
        - if ( !$v->isHidden() )
            - $v->getWidget()->setAttribute( 'class', 'text ui-widget-content ui-corner-all' )
    = UI::renderField( $form[$name], array( 'class' => 'text ui-widget-content ui-corner-all' ) )
- else
    %div{ :class => $class . ( $form[$name]->hasError() ? ' errors' : '' ) }
        = $form[$name]->renderError()
        %div
            = $form[$name]->renderLabel( $label )
            = UI::renderField( $form[$name], array( 'class' => 'text ui-widget-content ui-corner-all' ) )
            - if ( $help )
                .help
                    = I18n::__( '<?php echo $this->getI18nCatalogue() ?>.' . $help )
            - elseif ( $help = $form[$name]->renderHelp() )
                .help
                    = $help

-#EOF